{% extends 'base.html.twig' %}

{% block title %}
    Admin
{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/admin.css') }}"{% endblock %}

    
{% block body %}
    <h1 class="titre">Liste des utilisateurs : </h1>
    <br>

    {% for user in allUsers %}
        <div class="user">
            <p>pseudo : {{ user.pseudo }}</p>
            <p>email : {{ user.email }}</p>
            <p>grade : 
                {% if user.grade == 0 %}
                    membre
                {% elseif user.grade == 1 %}
                    vip
                {% endif %}
            </p>
            <p>Date de création : {{ user.creationDate|date("m/d/Y") }}</p>
            <div class="banne">
            {% if user.isBanished == 1 %}
                <p>Bannis</p>
                <a href="{{ path('admin_unban', {'id': user.id}) }}" class="debannir">Débannir</a>
            {% else %}
                <p>Non Banni</p>
                <a href="{{ path('admin_ban', {'id': user.id}) }}"  class="bannir">Bannir</a>
            {% endif %}
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}