<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href=" {{ asset("css/navbar.css") }}">
        <link rel="stylesheet" href=" {{ asset("css/style.css") }}">
    
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
<<<<<<< HEAD
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
=======
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
>>>>>>> c1899ccfb4292691dba1c883112749a3d6b6056e
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav>
            <div id="navbar-images">
                <img id="responsive-button" src="{{ asset("images/burger-icon.png") }}">      
                <img id="image-logo" src="{{ asset("images/logo.png") }}">
                <img id="responsive-search" src="{{ asset("images/search-icon.png") }}">      
            </div>
            <div id="navbar-content">
                <div>
                <a href=" {{ path("home") }}"><p>Accueil</p></a>
                <a href=" {{ path("forum_home") }}"><p>Forum</p></a>
                <a href=" {{ path("team") }}"><p>Equipe</p></a>
                </div>
                <div>
                {% if user and user.grade == 1 %}
                    <a href=" {{ path("admin") }}"><p>Admin</p></a>
                {% endif %}
                {% if user is same as(NULL) %}
                    <a href=" {{ path("connexion") }}"><p>Connexion</p></a>
                    <a href=" {{ path("inscription") }}"><p>Inscription</p></a>
                {% else %}
                    <a href=" {{ path('profile') }}"><p>Profil</p></a>
                    <a href=" {{ path("deconnexion") }}"><p>Deconnexion</p></a>
                {% endif %}
                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('js/main.js') }}"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
        AOS.init();
    </script>
    </body>
</html>
