<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href=" {{ asset("css/navbar.css") }}">
        <link rel="stylesheet" href=" {{ asset("css/AccueilForum.css") }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav>
            <div id="navbar-images">
                <img id="responsive-button" src="{{ asset("images/burger-icon.png") }}">      
                <img id="image-logo" src="{{ asset("images/logo.png") }}">
                <img id="responsive-search" src="{{ asset("images/search-icon.png") }}">      
            </div>
            <div id="navbar-content">
                <a href=" {{ path("home") }}"><p>Accueil</p></a>
                <a href=" {{ path("forum_home") }}"><p>Forum</p></a>
                <a href=" {{ path("accueil_forum") }}"><p>Cours</p></a>
                <a><p>Equipe</p></a>
                <input type="text" id="search-bar" name="search-bar" placeholder="RECHERCHER">
                <a href=" {{ path("connexion") }}"><p>Connexion</p></a>
                <a href=" {{ path("inscription") }}"><p>Inscription</p></a>
            </div>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('js/main.js') }}"></script>
    </body>
</html>
