{% extends 'base.html.twig' %}

{% block title %}Edit{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/user/profile.css') }}" {% endblock %} {% block body %} <section>
<div id="switch-buttons-container" class="onglet">
    <p id="switch-button-information" class="ongletOne">Informations</p>
    <p id="switch-button-posts" class="ongletTwo">Posts</p>
    <p id="switch-button-projects" class="ongletThree">Projets</p>
</div>

<main id="infos">
    <div class="info">
        <h2>Mes informations :</h2>
        <div class="datas">
            <p>Pseudo : {{ user.pseudo }}</p>
            <p class="data">Email : {{ user.email }}</p>
            <p class="data">Votre grade :
                {% if user.grade == 0 %}
                Basique
                {% elseif user.grade == 1 %}
                VIP
                {% endif %}
                </p>
                <br/>
                <a class="modifProfil" href=" {{ path('edit') }}">Editer le profil</a>
                </div>
    </div>
    <div class="image">
        <img src="{{ asset('uploads/' ~ user.picture) }}" class="picture">

        {{ form_start(form) }}

        {{ form_row(form.image) }}

        {{ form_end(form) }}
    </div>
    


</main>

<main id="user-posts">
    {% for user_post in user_posts %}
    <p>{{ user.pseudo }}</p>
    <p>{{ user_post.title }}</p>
    <p>{{ user_post.content }}</p>
    {% endfor %}
</main>

<main id="user-projects">
    <button id="button-add-project">Rajoutez un projet</button>
    <div id="projects-form-container">
        {{ form_start(formProjet) }}

        {{ form_end(formProjet) }}
    </div>

    {% for projet in projets %}
    <p>{{ projet.title }}</p>
    <p>{{ projet.description }}</p>
    <a href="{{ projet.link }}">Github</a>
    {% endfor %}
</main>
</section>
{% endblock %}
{% block javascripts %}<script src="{{ asset('js/user/profile.js') }}" }}{% endblock %}