{% extends 'base.html.twig' %}

{% block title %}
    Forum
{% endblock %}
{% block stylesheets %}
    <link href="{{ asset("css/forum/index.css") }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1 class="title">Bienvenue sur le forum</h1>
    <a href="{{ path("forum_create") }}">Créer un poste</a><br>

    {% for langageChoice in langages %}
        <a href="{{ path('forum_home', {'langage': langageChoice.langage}) }}">{{ langageChoice.langage }}</a>
    {% endfor %}

    {% for elem in postes %}
        <h1>{{ elem.title }}</h1>
        <p>{{ elem.content }}</p>
        {% for langages in elem.langages %}
            <p>{{ langages.langage }}</p>
        {% endfor %}
    {% else %}
    <p>Aucun poste n'existe</p>
    {% endfor %}
{% endblock %}
