{% extends 'base.html.twig' %}

{% block title %}
    Forum
{% endblock %}
{% block stylesheets %}
    <link href="{{ asset("css/forum/index.css") }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1 class="title">Bienvenue sur le forum</h1>
    <a href="{{ path("forum_create") }}">Créer un poste</a><br>

    <div class="choice">
    {% for langageChoice in langages %}
        <a href="{{ path('forum_home', {'langage': langageChoice.langage}) }}">{{ langageChoice.langage }}</a>
    {% endfor %}
    <a href="{{ path('forum_home') }}">-All Langages-</a>
    </div>

    <div>
        <label for="search">Rechercher : </label>
        <input type="text" id="search" class="search">
    </div>

    <div class="container">
        {% for elem in postes %}
        <hr>
        <div class="content">
            <a href="{{ path('forum_show', { id:elem.id }) }}" class="show">
                <h1 class="posteTitle">{{ elem.title }}</h1>
                <p class="posteUser" class="posteUser">{{ elem.user }}</p>
                <p class="posteContent">{{ elem.content }}</p>
                <div class="posteLangages">
                {% for langages in elem.langages %}
                    <p>{{ langages.langage }}</p>
                {% endfor %}
                </div>
            </a>
        </div>
        {% else %}
        <p>Aucun poste n'existe</p>
        {% endfor %}
    </div>

    <script src="{{ asset('js/forum/index.js') }}"></script>
{% endblock %}
