{% extends 'base.html.twig' %}

{% block title %}
    {{ poste.title }}
{% endblock %}
{% block stylesheets %}
    <link href="{{ asset("css/forum/show.css") }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Voici le poste</h1>
        <h1>{{ poste.title }}</h1>
        <p>{{ poste.content }}</p>
        <div class="posteLangages">
            {% for langages in poste.langages %}
                    <p>{{ langages.langage }}</p>
            {% endfor %}
        </div><br>
        <div class="review">
            <a class="like" href="{{ path('forum_poste_like', {'id': poste.id}) }}">like</a>
            <p class="likeDisplay">{{ poste.posteLikes | length }}</p>
            <a class="dislike" href="{{ path('forum_poste_dislike', {'id': poste.id}) }}">dislike</a>
            <p class="dislikeDisplay">{{ poste.posteDislikes | length }}</p>
        </div>
        {% if (user is same as(poste.user)) or (isAdmin) %}
            <a href="{{ path('forum_update', { id:poste.id }) }}">Modifier</a><br>
            <a href="{{ path('forum_delete', { id:poste.id }) }}">Supprimer</a><br>
        {% endif %}
        <a href="{{ path("forum_home")}}">Retourner à l'accueil</a>
    </div>
    <hr>
    <div>
    {% if user is same as(NULL) %}
        <p><a href="{{ path('connexion') }}">Connectez vous</a> pour répondre</p>
    {% else %}
        {{ form(answerForm) }}
    {% endif %}
    </div>
    <div class="answerContainer">
        {% for answer in answers %}
        <div class="answerContent">
            <p>{{ answer.user.pseudo }}</p>
            <p>{{ answer.content }}</p>
            {% if (answer.getUser() == user) or (isAdmin) %}
                <a href="{{ path('forum_answer_delete', { id:answer.id, poste_id:poste.id }) }}">Supprimer</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <script src="{{ asset('js/forum/show.js') }}"></script>
{% endblock %}